/***********************************************************************************************************************
*********** fonts
***********************************************************************************************************************/
@import url('https://fonts.googleapis.com/css?family=Noto+Sans:400,400i,700,700i&subset=cyrillic');
@font-face {
  font-family: 'PF AgoraSansPro Medium';
  src: url("../source/fonts/pfagorasanspro-medium.ttf") format("truetype");
}
/***********************************************************************************************************************
*********** mixes
***********************************************************************************************************************/
/***********************************************************************************************************************
*********** general styles
***********************************************************************************************************************/
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Noto Sans', sans-serif;
  font-size: 15px;
  line-height: 1.2;
  font-weight: 400;
}
.wrapper {
  width: 100%;
  min-width: 320px;
  overflow: hidden;
  background: url(../source/images/background.jpg) no-repeat top center;
}
.wrapper-inner {
  width: 100%;
  max-width: 1230px;
  margin: 0 auto;
}
@media (max-width: 1260px) {
  .wrapper-inner {
    padding: 15px;
  }
}
@media (max-width: 768px) {
  .wrapper-inner {
    padding: 0 10px;
  }
}
a {
  -webkit-transition: 0.4s;
  -moz-transition: 0.4s;
  -ms-transition: 0.4s;
  -o-transition: 0.4s;
  transition: 0.4s;
  color: inherit;
  text-decoration: none;
}
a:focus,
a:active {
  outline: none;
}
a:hover {
  text-decoration: underline;
}
button {
  -webkit-transition: 0.4s;
  -moz-transition: 0.4s;
  -ms-transition: 0.4s;
  -o-transition: 0.4s;
  transition: 0.4s;
  display: block;
  width: 200px;
  height: 50px;
  border: none;
  cursor: pointer;
}
button:focus,
button:active {
  outline: none;
}
p {
  line-height: 1.4;
}
input::-webkit-input-placeholder {
  color: #333;
  font-size: 16px;
}
input::-moz-placeholder {
  color: #333;
  font-size: 16px;
}
input:-moz-placeholder {
  color: #333;
  font-size: 16px;
}
input:-ms-input-placeholder {
  color: #333;
  font-size: 16px;
}
input:focus::-webkit-input-placeholder {
  color: transparent;
}
input:focus::-moz-placeholder {
  color: transparent;
}
input:focus:-moz-placeholder {
  color: transparent;
}
input:focus:-ms-input-placeholder {
  color: transparent;
}
h1 {
  font-weight: 700;
  font-size: 33px;
  text-shadow: 0 0 5px #fff;
  margin-top: 50px;
}
h1 span {
  display: block;
  font-weight: 700;
  font-size: 37px;
  color: #990000;
  text-transform: uppercase;
  margin-top: 10px;
  text-shadow: 0 0 5px #fff;
}
h2 {
  font-size: 27px;
  color: #990000;
  font-weight: 700;
  text-align: center;
  margin-bottom: 20px;
  text-transform: uppercase;
}
.custom-select {
  display: block;
}
.custom-select .current-value {
  cursor: pointer;
}
.custom-select ul {
  display: none;
}
.custom-select.active ul {
  display: block;
}
.location-phone {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.link-phone {
  display: block;
  font-size: 25px;
  color: #ff9900;
  margin-right: 60px;
}
.select-city {
  position: relative;
}
.select-city:before {
  content: '';
  display: block;
  width: 22px;
  height: 29px;
  background: url(../source/images/icon-geo.png) no-repeat 0 0;
  background-size: cover;
  position: absolute;
  left: -30px;
  top: -5px;
}
.select-city .current-value {
  font-size: 18px;
  color: #fff;
  line-height: 1;
  position: relative;
  padding-right: 20px;
}
.select-city .current-value:before {
  content: '';
  display: block;
  width: 0;
  height: 0;
  border-top: 5px solid #ff9900;
  border-left: 6px solid transparent;
  border-right: 6px solid transparent;
  position: absolute;
  top: 8px;
  right: 0;
}
.select-city .current-value:after {
  content: '';
  display: block;
  width: 0;
  height: 0;
  border-top: 2px solid #000;
  border-left: 3px solid transparent;
  border-right: 3px solid transparent;
  position: absolute;
  top: 8px;
  right: 3px;
}
.select-city.active .current-value:before {
  content: '';
  display: block;
  width: 0;
  height: 0;
  border-top: none;
  border-bottom: 5px solid #ff9900;
  border-left: 6px solid transparent;
  border-right: 6px solid transparent;
  position: absolute;
  top: 8px;
  right: 0;
}
.select-city.active .current-value:after {
  content: '';
  display: block;
  width: 0;
  height: 0;
  border-top: none;
  border-bottom: 2px solid #000;
  border-left: 3px solid transparent;
  border-right: 3px solid transparent;
  position: absolute;
  top: 8px;
  right: 3px;
}
/***********************************************************************************************************************
*********** header
***********************************************************************************************************************/
header[role='banner'] {
  background: url(../source/images/background-header.jpg) no-repeat center;
  padding: 15px 0;
}
header[role='banner'] .wrapper-inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header[role='banner'] .logo {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 39px;
}
header[role='banner'] .logo img {
  display: block;
  height: 100%;
  width: auto;
  margin-right: 10px;
}
header[role='banner'] .logo span {
  font-family: 'PF AgoraSansPro Medium', sans-serif;
  font-size: 22px;
  color: #fff;
}
/***********************************************************************************************************************
*********** top-block
***********************************************************************************************************************/
.top-block {
  height: 697px;
  background: url(../source/images/background-top.png) no-repeat top center;
}
.top-block .wrapper-inner {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  height: 100%;
}
.top-block .top-advantages {
  align-self: stretch;
  background: rgba(255, 255, 255, 0.4);
  text-align: center;
  padding: 0 50px;
  width: 300px;
}
.top-block .commission {
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
  flex-wrap: wrap;
  width: 116px;
  height: 115px;
  margin: 35px auto;
  background: url(../source/images/background-comission.png) no-repeat center;
  background-size: cover;
  color: #fff;
  font-weight: 700;
  font-size: 11px;
  line-height: 1;
}
.top-block .commission span {
  color: inherit;
  font-weight: 700;
  font-size: 42px;
  line-height: 1;
}
.top-block ul li {
  display: block;
  margin: 25px 0;
  text-align: left;
  padding-left: 40px;
  position: relative;
  font-size: 17px;
  font-style: italic;
}
.top-block ul li:before {
  content: '';
  display: block;
  width: 24px;
  height: 24px;
  background: url(../source/images/icon-ok-1.png) no-repeat 0 0;
  background-size: cover;
  position: absolute;
  left: 0;
  top: 1px;
}
.fill-in-questionnaire {
  margin: 50px 0 40px;
  font-weight: 700;
  text-transform: uppercase;
  color: #fff;
  background: linear-gradient(to right, #cc0000, #990000);
  border-radius: 0 25px 25px 25px;
}
.fill-in-questionnaire:hover {
  background: linear-gradient(to left, #cc0000, #990000);
}
.ask-question {
  margin: 40px 0;
  font-weight: 700;
  text-transform: uppercase;
  color: #000;
  background: linear-gradient(to right, #ffcc00, #ff9900);
  border-radius: 0 25px 25px 25px;
}
.ask-question:hover {
  background: linear-gradient(to left, #ffcc00, #ff9900);
}
.callback {
  margin: 40px 0;
  font-weight: 700;
  text-transform: uppercase;
  color: #ff9900;
  background: #000;
  border-radius: 0 25px 25px 25px;
}
.callback:hover {
  color: #000;
  background: #ff9900;
}
/***********************************************************************************************************************
*********** terms-of-connection
***********************************************************************************************************************/
.terms-of-connection {
  padding: 50px 0;
  text-align: center;
}
.terms-of-connection .text {
  font-size: 20px;
}
.terms-of-connection .text span {
  display: block;
  font-weight: 700;
  font-size: inherit;
}
.terms-of-connection .text span a {
  font-weight: inherit;
}
.terms-of-connection .terms {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin: 50px 0;
}
.terms-of-connection .terms li {
  display: block;
  width: 140px;
  font-weight: 700;
  color: #990000;
  position: relative;
}
.terms-of-connection .terms li:before {
  content: '';
  display: block;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background: #ff9900 url(../source/images/sprite-1.png) no-repeat 0 0;
  background-size: cover;
  margin: 0 auto 20px;
}
.terms-of-connection .terms li:nth-child(2):before {
  background-position: -100px 0;
}
.terms-of-connection .terms li:nth-child(3):before {
  background-position: -200px 0;
}
.terms-of-connection .terms li:nth-child(4):before {
  background-position: -300px 0;
}
.terms-of-connection .terms li:nth-child(5):before {
  background-position: -400px 0;
}
.terms-of-connection .terms li:nth-child(6):before {
  background-position: -500px 0;
}
.terms-of-connection .terms li:nth-child(7):before {
  background-position: -600px 0;
}
.terms-of-connection .terms li:after {
  content: '';
  display: block;
  width: 0;
  height: 0;
  border-bottom: 10px solid #ff9900;
  border-left: 20px solid transparent;
  border-right: 20px solid transparent;
  position: absolute;
  left: 60px;
  top: 92px;
  -webkit-transform: rotate(10deg);
  -moz-transform: rotate(10deg);
  -ms-transform: rotate(10deg);
  -o-transform: rotate(10deg);
  transform: rotate(10deg);
}
.terms-of-connection .terms li:nth-child(2),
.terms-of-connection .terms li:nth-last-child(2) {
  margin-top: 10px;
}
.terms-of-connection .terms li:nth-child(3),
.terms-of-connection .terms li:nth-last-child(3) {
  margin-top: 20px;
}
.terms-of-connection .terms li:nth-child(4),
.terms-of-connection .terms li:nth-last-child(4) {
  margin-top: 30px;
}
.terms-of-connection .advantages {
  display: block;
  margin: 50px 0;
}
.terms-of-connection .advantages li {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  vertical-align: top;
  width: 270px;
  height: 160px;
  border: 3px solid #990000;
  border-radius: 80px;
  font-size: 14px;
  font-weight: 700;
  margin: 0 15px;
  position: relative;
  white-space: pre;
}
.terms-of-connection .advantages li:after {
  content: '';
  display: block;
  width: 40px;
  height: 40px;
  background: url(../source/images/icon-ok-2.png) no-repeat center;
  position: absolute;
  margin: auto;
  left: 0;
  right: 0;
  bottom: -20px;
}
/***********************************************************************************************************************
*********** you-need
***********************************************************************************************************************/
.you-need {
  text-align: center;
}
.you-need .wrapper-inner {
  background: #fff;
  padding: 20px 60px;
  border-radius: 0 100px 100px 100px;
}
.you-need ul {
  display: block;
  width: 100%;
}
.you-need ul li {
  display: inline-flex;
  flex-wrap: wrap;
  align-items: flex-start;
  align-content: flex-start;
  justify-content: center;
  width: 160px;
  white-space: pre-wrap;
  font-style: italic;
  margin: 20px;
  position: relative;
  z-index: 2;
}
.you-need ul li img {
  display: block;
  width: auto;
  height: auto;
  margin: 0 auto;
}
.you-need ul li span {
  display: block;
  font-weight: 700;
  font-style: inherit;
}
.you-need ul li:before {
  content: '';
  display: block;
  width: 75px;
  height: 2px;
  background: linear-gradient(to right, #999 0, #999 5px, transparent 5px, transparent 7px) repeat-x 0 0;
  background-size: 7px 2px;
  position: absolute;
  top: 90px;
  left: calc(100% - 15px);
  z-index: -1;
}
.you-need ul li:last-child:before {
  display: none;
}
@media (max-width: 1260px) {
  .you-need ul li:before {
    display: none;
  }
}
/***********************************************************************************************************************
*********** steps
***********************************************************************************************************************/
.steps {
  padding: 40px 0;
  text-align: center;
}
.steps ul {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  counter-reset: list;
}
.steps ul li {
  display: block;
  width: 140px;
  margin: 20px 0;
  color: #990000;
  font-size: 12px;
  text-transform: uppercase;
  font-weight: 700;
  padding-top: 95px;
  position: relative;
  line-height: 1.3;
}
.steps ul li:before {
  counter-increment: list;
  content: counter(list) '';
  color: #000;
  font-size: 17px;
  font-weight: 700;
  text-shadow: 0 0 2px #fff;
  display: block;
  width: 35px;
  height: 35px;
  line-height: 35px;
  background: #ff9900;
  border-radius: 0 17px 17px 17px;
  position: absolute;
  right: 20px;
  top: 0;
  z-index: 1;
}
.steps ul li:after {
  content: '';
  display: block;
  width: 80px;
  height: 87px;
  background: url(../source/images/sprite-2.png) no-repeat 0 0;
  background-size: cover;
  position: absolute;
  margin: auto;
  left: 0;
  right: 0;
  top: 0;
}
.steps ul li:nth-child(2):after {
  background-position: -80px 0;
}
.steps ul li:nth-child(3):after {
  background-position: -160px 0;
}
.steps ul li:nth-child(4):after {
  background-position: -240px 0;
}
.steps ul li:nth-child(5):after {
  background-position: -320px 0;
}
.steps ul li:nth-child(6):after {
  background-position: -400px 0;
}
/***********************************************************************************************************************
*********** questionnaire
***********************************************************************************************************************/
.questionnaire {
  background: url(../source/images/background-car.png) no-repeat top center;
}
.questionnaire .form-questionnaire {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-start;
  align-content: flex-start;
}
.questionnaire fieldset {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-start;
  align-content: flex-start;
  border: none;
}
.questionnaire label {
  display: block;
}
.questionnaire .label-short {
  width: 200px;
}
.questionnaire .label-long {
  width: 290px;
}
.questionnaire .label-full {
  width: 100%;
}
.questionnaire input {
  display: block;
  width: 100%;
  height: 50px;
  border: #d6d6d6;
}
.questionnaire .select-options {
  width: 100%;
}
/***********************************************************************************************************************
***********
***********************************************************************************************************************/
/***********************************************************************************************************************
***********
***********************************************************************************************************************/
/***********************************************************************************************************************
*********** footer
***********************************************************************************************************************/
/***********************************************************************************************************************
***********
***********************************************************************************************************************/
/***********************************************************************************************************************
***********
***********************************************************************************************************************/
/***********************************************************************************************************************
*********** footer
***********************************************************************************************************************/
